.button-transparent{
    background: transparent;
    border: none;
    color: black;
}
.zIndex{
    z-index: 1000;
    position: fixed;
}
.display-child{  
    width: 77%;
    justify-content: space-around;
    left: 18%;
    align-items: center;
    height: 100px;
    background: yellowgreen;
}