.w-80{
    width:90%;
}
.h-200{
    height: 200px;
}
.bd-efefef{
    border-bottom: 2px solid #efefef;
}
.box-shadow{
    box-shadow: 0 0 5px 0 rgb(98 97 97 / 43%);
    padding: 10px;
}
.w-300{
    width: 310px !important;
}